{:instances {0 {:instance-id 0
                :full-path   "shoegaze.one"
                :view        {:transform {:translation [0 0]
                                          :scale       [1 1]}
                              :style     {}}}
             1 {:instance-id 1
                :full-path   "shoegaze.one"
                :view        {:transform {:translation [0 500]
                                          :scale       [1 1]}
                              :style     {}}}
             2 {:instance-id 2
                :full-path   "shoegaze.add2"
                :view        {:transform {:translation [500 250]
                                          :scale       [1 1]}
                              :style     {}}}
             3 {:instance-id 3
                :full-path   "shoegaze.println"
                :view        {:transform {:translation [1000 250]
                                          :scale       [1 1]}
                              :style     {}}}}
 :edges     [{:out-instance-id 0
              :out-pin         0
              :in-instance-id  2
              :in-pin          0}
             {:out-instance-id 1
              :out-pin         0
              :in-instance-id  2
              :in-pin          1}
             {:out-instance-id 2
              :out-pin         0
              :in-instance-id  3
              :in-pin          0}]
 }